/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
}

input,
button {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

button {
  cursor: pointer;
} */
